/* mixins */
@import '../../mixins/elevation.scss';

#resume {
  margin: 20px 0px;

  button:focus, input[type="button"]:focus {
    outline: none;
  }
  
  button {
    padding: 10px 100px;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: white;
    font-size: 14px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;

    @include BoxShadow(1);
  }

  button:hover {
    opacity: 0.4;
    border: 1px solid rgba(255, 255, 255, 0.04);
  }
}