.exp-bar {
  display: flex;

  .bar {
    height: 10px;
    margin: 12px 0;
    border-radius: 0 5px 5px 0;

    // animation: grow 1s ease;
  }

  .text {
    margin: 7px 18px;
  }
}

// @keyframes grow {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }