#contact-info {
  margin: 5px 0px;

  > div{
    margin-top: 8px;
  }

  .email, .linkedin, .github {
    text-decoration: none;
    color: white;
  }

  .email:hover, .linkedin:hover, .github:hover {
    color: rgba(255, 255, 255, 0.12);
  }
}