#work-exp {
  margin-top: 20px;
  width: 100%;

  .panel {
    padding: 60px;
  }

  .header {
    font-size: 26px;
    margin: 40px 0px 0px;
    display: inline-block;
  }

  .header:hover {
    color: rgba(255, 255, 255, 0.12);
    cursor: pointer;
  }

  .sub-header {
    margin: 5px 0;
    color: rgba(255, 255, 255, 0.6);
  }

  h2 {
    margin: 10px 0;
  }

  p {
    line-height: 24px;
  }

  hr {
    border-color: white;
    opacity: 0.05;
  }

  .lyra-photo {
    border: 0;
    border-radius: 5px;
    width: 500px;
  }

  iframe,
  .tpo-photo {
    border: 0;
    border-radius: 5px;
  }
}
