#work-exp {
  padding: 20px 5px 0px 20px;
  max-width: 385px;

  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

    p {
      line-height: 24px;
    }

    hr {
      border-color: white;
      opacity: 0.05;
    }

    iframe, .tpo-photo {
      border: 0;
      border-radius: 5px;
    }
    
    .tpo-photo {
      margin: 0 auto;
      display: block;
    }
  }

  #pie {
    height: 256px;
  }

  .bry-button {
    margin: 0px auto;
    width: 190px;
    height: 60px;

    .bry-button-elem {
      padding: 10px 40px;
    }
  }
}