@import '../mixins/elevation.scss';

#projects {
  width: 100%;

  .projects-container {
    height: 500px;
    @include BoxShadow(16);
  }

  .current-project {
    position: absolute;
    top: 450px;
    left: 50%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    transform: translate(-50%, -50%);

    .project-name {
      
      line-height: 30px;
      margin: 0px 20px;
      // TODO: fix highlighting of the pie
      // cursor: pointer;

      // &:hover {
      //   color: rgba(255, 255, 255, 0.12);
      // }
    }

    .click-next, .click-prev {
      pointer-events: all;
      cursor: pointer;
      border: 2px solid rgba(255, 255, 255, 0.12);
      padding: 3px 6px;
      line-height: 20px;
      border-radius: 50%;

      .icon-next, .icon-prev {
        line-height: 20px;
      }
    }

    .click-next:hover, .click-prev:hover {
      opacity: 0.4;
      border: 2px solid rgba(255, 255, 255, 0.04);
    }
  }

  #pie {
    height: 256px;
    margin: 15px auto;
    padding: 50px;
  }

  .bry-button {
    margin: 0px auto;
    width: 190px;
    height: 60px;

    .bry-button-elem {
      padding: 10px 40px;
    }
  }
}